@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$border-radius: .5em;
$font-family-sans-serif: "DM Sans",
sans-serif;
$font-fmaily-monospace: "Source Code Pro",
monospace;
$link-decoration: none;

a>img {
    transition: all .2s ease-in-out;
}

a:hover>img {
    transform: scale(1.05);
}

h1 {
    font-weight: 500;
    letter-spacing: -0.02em;
}

h2,
h3,
h4,
h5 {
    font-weight: 600;
    letter-spacing: -0.03em;
}

h6 {
    font-weight: 700;
}

.bg-cloud.card {
    transition: box-shadow .2s ease-in-out;
    border: 0;
}

.bg-cloud.card:hover {
    z-index: 50;
}

.bg-cloud .card-footer {
    border: 0;
}

.bg-cloud .card-img,
.bg-cloud .card-img-top,
.bg-cloud .card-img-bottom {
    :hover {
        border-radius: $border-radius;
    }
}

.bigdot::after {
    content: '\00B7';
    font-size: 28pt;
}

.btn-directional:after {
    transition: all .2s ease-in-out;
    content: ">";
    margin-left: .5em;
}

.btn-directional:hover:after {
    margin-left: .75em;
}

.navbar-bg {
    border-radius: 2rem;
    padding-left: 1em;
    padding-right: 1em;
}

.symbolic-logo {
    content: url($logo_symbolic);
}