@import "theme";
@import "bootstrap";
@import "bootstrap-nightfall";
@import "navbar_extended";

$color-cloud: #363A3E;

.bg-cloud {
    background-color: #262A2E;
}

.bg-cloud.card:hover {
    box-shadow: 0 0 0 .25em $color-cloud;
}

.bg-cloud.card, .bg-cloud .card-header, .bg-cloud .card-footer {
    border-color: $color-cloud;
}

.navbar-bg {
    background-color: #292d31;
    border: 1px solid #252a2c;
}