@import "theme";
@import "bootstrap";

.bg-cloud {
    background-color: #E5FFFF;
}

.bg-cloud.card:hover {
    background-color: #F5FFFF;
    box-shadow: 0 0em 2.75em 3em #F5FFFF;
}

.navbar-bg {
    background-color: #F6F0FF;
}