@import "theme";
@import "bootstrap";
@import "bootstrap-nightfall";

.bg-cloud {
    background-color: #262A2E;
}

.bg-cloud.card:hover {
    box-shadow: 0 0 0 .25em #363A3E;
}

.navbar-bg {
    background-color: #292d31;
    border: 1px solid #252a2c;
}