@import "theme";
@import "bootstrap";
@import "bootstrap-nightfall";

.bg-cloud {
    background-color: #262A2E;
}

.bg-cloud.card:hover {
    box-shadow: 0 1em 3em 0 rgb(38, 42, 47);
    border-color: rgb(38, 42, 47) !important;
}

.navbar-bg {
    background-color: #292d31;
    border: 1px solid #252a2c;
}