@import "theme";
@import "bootstrap";

.bg-cloud {
    background-color: #E5FFFF;
}

.bg-cloud.card:hover {
    box-shadow: 0 1em 3em 0 rgb(217, 232, 243);
    border-color: rgb(217, 232, 243) !important;
}

.navbar-bg {
    background-color: #F6F0FF;
}