@import "theme";
@import "bootstrap";

.bg-cloud {
    background-color: #E5FFFF;
}

.bg-cloud.card:hover {
    background-color: #E5FFFF;
    box-shadow: 0 0 2em 2em #E5FFFF;
}

.navbar-bg {
    background-color: #F6F0FF;
}